#root {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.title {
  font-weight: bold;
  /* display when hover */
}

.app {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: center;
}

.loading {
  background-color: #4f5e71;
  animation: pulse 1.5s infinite;
  content: '';
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
